.face {
  background-position: center;
  background-repeat: no-repeat;
}

.face-baibai {
	background-image: url(../img/faces/baibai.gif)
}

.face-baiyan {
	background-image: url(../img/faces/baiyan.gif)
}

.face-bishi {
	background-image: url(../img/faces/bishi.gif)
}

.face-cahan {
	background-image: url(../img/faces/cahan.gif)
}

.face-dai {
	background-image: url(../img/faces/dai.gif)
}

.face-doge {
	background-image: url(../img/faces/doge.gif)
}

.face-emmm {
	background-image: url(../img/faces/emmm.gif)
}

.face-fendou {
	background-image: url(../img/faces/fendou.gif)
}

.face-ganga {
	background-image: url(../img/faces/ganga.gif)
}

.face-gaoci {
	background-image: url(../img/faces/gaoci.gif)
}

.face-gouyin {
	background-image: url(../img/faces/gouyin.gif)
}

.face-haha {
	background-image: url(../img/faces/haha.gif)
}

.face-haixiu {
	background-image: url(../img/faces/haixiu.gif)
}

.face-hehe {
	background-image: url(../img/faces/hehe.gif)
}

.face-heihei {
	background-image: url(../img/faces/heihei.gif)
}

.face-heng {
	background-image: url(../img/faces/heng.gif)
}

.face-huaji {
	background-image: url(../img/faces/huaji.gif)
}

.face-jiujie {
	background-image: url(../img/faces/jiujie.gif)
}

.face-keai {
	background-image: url(../img/faces/keai.gif)
}

.face-koubi {
	background-image: url(../img/faces/koubi.gif)
}

.face-ku {
	background-image: url(../img/faces/ku.gif)
}

.face-kun {
	background-image: url(../img/faces/kun.gif)
}

.face-laowang {
	background-image: url(../img/faces/laowang.gif)
}

.face-nanshou {
	background-image: url(../img/faces/nanshou.gif)
}

.face-niubi {
	background-image: url(../img/faces/niubi.gif)
}

.face-ok {
	background-image: url(../img/faces/ok.gif)
}

.face-pig {
	background-image: url(../img/faces/pig.gif)
}

.face-pu {
	background-image: url(../img/faces/pu.gif)
}

.face-qaq {
	background-image: url(../img/faces/qaq.gif)
}

.face-ruoji {
	background-image: url(../img/faces/ruoji.gif)
}

.face-sikao {
	background-image: url(../img/faces/sikao.gif)
}

.face-tian {
	background-image: url(../img/faces/tian.gif)
}

.face-wa {
	background-image: url(../img/faces/wa.gif)
}

.face-woshou {
	background-image: url(../img/faces/woshou.gif)
}

.face-xiaoku {
	background-image: url(../img/faces/xiaoku.gif)
}

.face-xixi {
	background-image: url(../img/faces/xixi.gif)
}

.face-yaowan {
	background-image: url(../img/faces/yaowan.gif)
}

.face-yi {
	background-image: url(../img/faces/yi.gif)
}

.face-yun {
	background-image: url(../img/faces/yun.gif)
}

.face-zhale {
	background-image: url(../img/faces/zhale.gif)
}
