/**
 *
 * 样式重置
 *
 * @author  MaiCong <i@maicong.me>
 * @link    https://github.com/maicong/stay
 * @since   1.0.0
 *
 */

html {
  font-family: 'San Francisco', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, 'Microsoft YaHei UI', 'Microsoft YaHei', 'PingFang SC', 'Hiragino Sans GB', 'Hiragino Sans GB W3', 'WenQuanYi Micro Hei', sans-serif;
  font-size: 62.5%;
  text-size-adjust: 100%;
}

body {
  font-size: 1.5rem;
  line-height: 1.6;
  width: 100%;
  min-width: 320px;
  margin: 0;
  color: #666;
  background-color: #eee;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

:before,
:after {
  box-sizing: border-box;
}

[hidden],
template {
  display: none;
}

a,
a:before,
a:after {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  background-color: transparent;
  transition: all 0.2s ease-in-out;
}

a:active,
a:hover,
a:focus {
  color: #4a9c90;
  outline: 0;
  text-decoration: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline dotted;
}

b,
strong {
  font-weight: bolder;
}

p {
  display: block;
  margin: 0;
  word-wrap: break-word;
  white-space: pre-wrap;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  max-width: 100%;
  border: 0;
  -webkit-touch-callout: none;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  height: 0;
  overflow: visible;
  box-sizing: content-box;
}

code,
kbd,
pre,
samp {
  font-family: Menlo, Monaco, Consolas, 'Courier New', monospace;
  font-size: 1em;
}

code {
  padding: 0.1rem 0.4rem;
  margin: 0 0.1rem;
  color: #378e81;
  font-size: 90%;
  background-color: #e4f5ef;
  border-radius: 4px;
}

pre {
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

pre code {
  background: 0 0;
  color: inherit;
  padding: 0;
  font-size: inherit;
  margin: 0;
  border-radius: 0;
}

button,
input,
optgroup,
select,
textarea {
  font: inherit;
  margin: 0;
  color: inherit;
  resize: none;
  outline: 0;
  border-radius: 0;
  -webkit-appearance: none;
}

button,
select {
  text-transform: none;
}

button,
html input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  cursor: pointer;
}

button[disabled],
html input[disabled] {
  cursor: not-allowed;
  opacity: 0.65;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type='checkbox'],
input[type='radio'] {
  box-sizing: border-box;
  padding: 0;
}

input[type='number']::-webkit-inner-spin-button,
input[type='number']::-webkit-outer-spin-button {
  height: auto;
}

input[type='search'] {
  -webkit-appearance: textfield;
}

input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  padding: 0;
}

textarea {
  overflow: auto;
}

textarea[contenteditable] {
  -webkit-appearance: none;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  margin: 0;
  padding: 0;
  color: #333;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.8rem;
}

h4 {
  font-size: 1.6rem;
}

h5 {
  font-size: 1.4rem;
}

h6 {
  font-size: 1.2rem;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track-piece {
  background-color: #d9d9d9;
}

::-webkit-scrollbar-thumb {
  border: 0;
}

::-webkit-scrollbar-thumb:vertical:hover,
::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:vertical {
  height: 5px;
  background-color: #bbb;
}

::-webkit-scrollbar-thumb:horizontal {
  width: 5px;
  background-color: #bbb;
}

::-moz-selection {
  color: #fff;
  background-color: #009688;
}

::selection {
  color: #fff;
  background-color: #009688;
}
