/**
 *
 * 核心 CSS 代码
 *
 * @author  MaiCong <i@maicong.me>
 * @link    https://github.com/maicong/stay
 * @since   1.2.0
 *
 */

.header,
.main,
.footer {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  padding: 8rem 0;
  text-align: center;
  background: #4a9c90 url(../img/bg_header.jpg) 50%;
  background-size: cover;
  color: #fff;
}

.container {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
}

.card {
  border-radius: 2px;
  box-shadow:
    0 2px 1PX -1PX rgba(0,0,0,.2),
    0 1PX 1PX 0 rgba(0,0,0,.14),
    0 1PX 3px 0 rgba(0,0,0,.12);
}

@media screen and (max-width: 1024px) {
  .container {
    width: 95%;
  }
}

.header a {
  color: #fff;
}

.header .header__title {
  margin-bottom: 3.6rem;
  font-size: 3.8rem;
  line-height: 1.4;
  color: #fff;
  text-shadow:
    0 2px 1PX rgba(0,0,0,.2),
    0 1PX 1PX rgba(0,0,0,.14),
    0 1PX 3px rgba(0,0,0,.12);
}

@media screen and (max-width: 768px) {
  .header .header__title {
    font-size: 3rem;
    margin-bottom: 2rem;
  }
}

.header .header__nav {
  padding: 5px 10px;
  background: rgba(0, 0, 0, 0.1);
  background: linear-gradient(
    to right,
    rgba(0,0,0,0) 0%,
    rgba(0,0,0,.1) 35%,
    rgba(0,0,0,.1) 75%,
    rgba(0,0,0,0) 100%
  );
  white-space: nowrap;
  overflow-y: hidden;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
}
.header .header__nav::-webkit-scrollbar {
  display: none;
}

.header .header__nav a {
  position: relative;
  margin: 0 10px;
  color: rgba(255, 255, 255, .85);
}

.header .header__nav a:after,
.header .header__nav a:before {
  position: absolute;
  content: '';
  width: 0;
  height: 0;
  bottom: -0.25rem;
  right: -0.41667rem;
  border-style: solid;
  border-width: 9px 9px 0 0;
  border-color: transparent;
  transition: border 0.15s ease-in;
}

.header .header__nav a:before {
  top: -1PX;
  left: -0.41667rem;
  right: auto;
  bottom: auto;
}

.header .header__nav .on,
.header .header__nav a:hover {
  color: #fff;
}

.header .header__nav .on:before,
.header .header__nav a:hover:before {
  border-color: #07686f transparent;
}

.header .header__nav .on:after,
.header .header__nav a:hover:after {
  border-color: transparent #07686f;
}


.header .header__meta,
.header .header__meta a {
  color: rgba(255, 255, 255, .65);
}

.header .header__meta a:hover {
  color: rgba(255, 255, 255, .85);
}

.header .header__back {
  position: absolute;
  z-index: 999;
  bottom: 1.2rem;
  left: 0;
  right: 0;
  width: 3rem;
  height: 3rem;
  font-size: 0;
  margin: auto;
}

.header .header__back:before,
.header .header__back:after {
  position: absolute;
  left: 0;
  right: 0;
  height: 3rem;
  line-height: 3rem;
  margin: auto;
  font-size: 16px;
  overflow: hidden;
}

.header .header__back:before {
  z-index: 1;
  content: '';
  background: #fff;
  border: 2px solid #429083;
  border-radius: 50%;
  box-sizing: border-box;
}

.header .header__back:after {
  left: 0;
  right: 0;
  z-index: 2;
  content: 'M';
  color: #429083;
}

.header .header__back:active:before,
.header .header__back:hover:before {
  left: -36px;
  right: -36px;
  border-radius: 5px;
}

.header .header__back:active:after,
.header .header__back:hover:after {
  left: -36px;
  right: -36px;
  content: attr(title);
}

.main {
  margin: -6.5rem 0 10rem;
}

@media screen and (max-width: 1024px) {
  .main {
    margin: -2.5rem 0 8rem;
  }
}

@media screen and (max-width: 768px) {
  .main {
    margin-bottom: 6rem;
  }
}

.main .page__number {
  position: absolute;
  z-index: 2;
  display: flex;
  justify-content: center;
  margin-top: 2.4rem;
  left: 0;
  right: 0;
}

.main .page__number span {
  color: #4a9c90;
  padding: 0.3rem 2rem;
  background: #fff;
  border-bottom: 2px solid #4b9c8f;
}

.main .post {
  position: relative;
  padding: 2.5rem;
  margin: 4rem 0 8rem;
  background: #fff;
}

@media screen and (max-width: 1024px) {
  .main .post {
    margin-top: 0;
  }
}

@media screen and (max-width: 960px) {
  .main .post {
    padding: 2rem;
  }
}

@media screen and (max-width: 680px) {
  .main .post {
    padding: 1.5rem;
    margin-bottom: 5rem;
  }
}

.main .post:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -4.5rem;
  margin: auto;
  width: 55%;
  text-align: center;
  border-top: 2px dashed #9bc3be;
}

@media screen and (max-width: 680px) {
  .main .post:after {
    bottom: -2.5rem;
  }
}

.main .no-post {
  text-align: center;
  padding: 5rem 0;
}

.main .no-post .post-title {
  color: #999;
}

.main .no-post .back {
  margin-top: 1.25rem;
}

.main .no-post .back a {
  color: #9e9e9e;
}

.main .no-post .back a:hover {
  color: #009688;
  text-decoration: underline;
}

.main .single {
  margin-bottom: 4rem;
}

.main .single:after {
  display: none;
}

.main .post__header {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  height: 30rem;
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .main .post__header {
    height: 25rem;
  }
}

@media screen and (max-width: 768px) {
  .main .post__header {
    height: 21rem;
  }
}

@media screen and (max-width: 680px) {
  .main .post__header {
    height: 19rem;
  }
}

@media screen and (max-width: 40rem) {
  .main .post__header {
    height: 16rem;
  }
}

.main .post__thumb {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background: #f8f8f8;
}

.main .post__thumb img {
  width: 100%;
  min-height: 100%;
}

.main .post__header__warpper {
  position: relative;
  padding: 2rem;
  color: #eaeaea;
  background: rgba(0, 0, 0, 0.45);
}

@media screen and (max-width: 680px) {
  .main .post__header__warpper {
    padding: 1rem;
  }
}

.main .post__no__thumb {
  height: auto;
}

.main .post__no__thumb .post__header__warpper {
  background: #07686f;
}

.main .post__meta,
.main .post__meta a {
  color: rgba(255, 255, 255, .65);
}

.main .post__meta a:hover {
  color: rgba(255, 255, 255, .85);
}

.main .post__title {
  font-size: 2.8rem;
  line-height: 1;
  margin-top: 0.5rem;
  color: #fff;
}

@media screen and (max-width: 768px) {
  .main .post__meta {
    font-size: 1.2rem;
  }
  .main .post__title {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 640px) {
  .main .post__title {
    font-size: 2.2rem;
  }
}

.main .post__title a:active,
.main .post__title a:hover {
  text-shadow: 0 0 0.25rem #316f65;
}

.main .post__content {
  margin-top: 2rem;
  word-wrap: break-word;
}

.main .post__content .summary {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media screen and (max-width: 768px) {
  .main .post__content .summary {
    -webkit-line-clamp: 3;
  }
}

.main .single .post__content {
  padding: 0;
}

.main .post__content .h1,
.main .post__content .h2,
.main .post__content .h3,
.main .post__content .h4,
.main .post__content .h5,
.main .post__content .h6,
.main .post__content h1,
.main .post__content h2,
.main .post__content h3,
.main .post__content h4,
.main .post__content h5,
.main .post__content h6 {
  margin-top: 24px;
  margin-bottom: 16px;
  font-weight: 600;
  line-height: 1.25;
}

.main .post__content .h1 > a,
.main .post__content .h2 > a,
.main .post__content .h3 > a,
.main .post__content .h4 > a,
.main .post__content .h5 > a,
.main .post__content .h6 > a,
.main .post__content h1 > a,
.main .post__content h2 > a,
.main .post__content h3 > a,
.main .post__content h4 > a,
.main .post__content h5 > a,
.main .post__content h6 > a {
  color: inherit;
}

.main .post__content .h1,
.main .post__content h1 {
  padding-bottom: 0.3em;
  font-size: 2em;
  border-bottom: 1PX solid #eaecef;
}

.main .post__content .h2,
.main .post__content h2 {
  padding-bottom: 0.3em;
  font-size: 1.5em;
  border-bottom: 1PX solid #eaecef;
}

.main .post__content .h3,
.main .post__content h3 {
  font-size: 1.25em;
}

.main .post__content .h4,
.main .post__content h4 {
  font-size: 1em;
}

.main .post__content .h5,
.main .post__content h5 {
  font-size: 0.875em;
}

.main .post__content .h6,
.main .post__content h6 {
  font-size: 0.85em;
  color: #6a737d;
}

.main .post__content p,
.main .post__content blockquote,
.main .post__content ul,
.main .post__content ol,
.main .post__content dl,
.main .post__content table,
.main .post__content pre {
  margin-top: 0;
  margin-bottom: 16px;
}

.main .post__content ol,
.main .post__content ul {
  padding-left: 2em;
}

.main .post__content ol ol,
.main .post__content ol ul,
.main .post__content ul ol,
.main .post__content ul ul {
  margin-top: 0;
  margin-bottom: 0;
}

.main .post__content li + li {
  margin-top: 0.25em;
}

.main .post__content li > p {
  margin-top: 16px;
}

.main .post__content dl {
  padding: 0;
}

.main .post__content dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: 600;
}

.main .post__content dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.main .post__content .mark,
.main .post__content mark {
  padding: 0.2em;
  background-color: #fff4b8;
}

.main .post__content hr {
  height: 0.25em;
  padding: 0;
  margin: 24px 0;
  background-color: #e1e4e8;
  border: 0;
}

.main .post__content blockquote {
  padding: 0 1em;
  color: #6a737d;
  border-left: 0.25em solid #429083;
}

.main .post__content blockquote > :first-child {
  margin-top: 0;
}

.main .post__content blockquote > :last-child {
  margin-bottom: 0;
}

.main .post__content kbd {
  display: inline-block;
  padding: 3px 5px;
  font-size: 11px;
  line-height: 10px;
  color: #444d56;
  vertical-align: middle;
  background-color: #fafbfc;
  border: solid 1PX #c6cbd1;
  border-bottom-color: #959da5;
  border-radius: 3px;
  box-shadow: inset 0 -1PX 0 #959da5;
}

.main .post__content pre {
  line-height: 1.45;
  padding: 20px;
  font-size: 18px;
  background-color: #f7f7f7;
  border-radius: 3px;
  box-shadow: inset 2px 2px 4px -2px rgba(0, 0, 0, 0.35);
  overflow: auto;
}

.main .post__content embed {
  max-width: 100%;
  margin: auto;
}

.main .post__content table {
  display: block;
  width: 100%;
  overflow: auto;
}

.main .post__content table th {
  font-weight: 600;
}

.main .post__content table th,
.main .post__content table td {
  padding: 6px 13px;
  border: 1PX solid #dfe2e5;
}

.main .post__content table tr {
  background-color: #fff;
  border-top: 1PX solid #c6cbd1;
}

.main .post__content table tr:nth-child(2n) {
  background-color: #f6f8fa;
}

.main .post__content table img {
  background-color: transparent;
}

.main .post__content img {
  max-width: 100%;
  box-sizing: content-box;
  background-color: #fff;
}

.main .post__content img[align="right"] {
  padding-left: 20px;
}

.main .post__content img[align="left"] {
  padding-right: 20px;
}

.main .single .post__content img {
  height: auto;
}

.main .post__content p:empty {
  display: none;
}

.main .post__content a {
  color: #08d;
  margin: 0 0.25rem;
}

.main .post__content a:hover,
.main .post__content a:hover code {
  text-decoration: underline;
}

.main .post__content .aligncenter {
  display: block;
  margin: 0 auto 2rem;
}

.main .post__content .mc-panel {
  position: relative;
  padding: .83333rem;
  margin: .41667rem auto;
  border: .08333rem solid transparent;
  word-wrap: break-word;
  word-break: break-all;
}

.main .post__content .mc-panel.p-task {
  color: #333;
  background: #f7f7f7;
  border-color: #aaa;
}

.main .post__content .mc-panel.p-noway {
  color: #820b0b;
  background: #efcec9;
  border-color: #be1f1f;
}

.main .post__content .mc-panel.p-warning {
  color: #9f6f26;
  background: #ffea97;
  border-color: #e1b400;
}

.main .post__content .mc-panel.p-buy {
  color: #779b39;
  background: #eff4d4;
  border-color: #8fad3d;
}

.main .post__content .mc-panel.p-down {
  color: #39709b;
  background: #d4e8f4;
  border-color: #3d85ad;
}

.main .post__content .mc-button {
  display: inline-flex;
  position: relative;
  height: 2.91667rem;
  line-height: 2.91667rem;
  padding: 0 1.25rem 0 .83333rem;
  margin: .83333rem 1.25rem .83333rem 0;
  text-align: center;
  font-size: 1.16667rem;
  color: #fff;
  cursor: pointer;
  box-sizing: border-box;
}

.main .post__content .mc-button:hover {
  text-decoration: none;
}

.main .post__content .mc-button a {
  color: #fff;
}

.main .post__content .mc-button.b-down {
  background-color: #4992b1;
}

.main .post__content .mc-button.b-down:focus,
.main .post__content .mc-button.b-down:hover {
  color: #fff;
  background-color: #70a5bb;
}

.main .post__content .mc-button.b-down.active,
.main .post__content .mc-button.b-down:active {
  background-color: #4992b1;
}

.main .post__content .mc-button.b-heart {
  background-color: #d55132;
}

.main .post__content .mc-button.b-heart:focus,
.main .post__content .mc-button.b-heart:hover {
  color: #fff;
  background-color: #d87058;
}

.main .post__content .mc-button.b-heart.active,
.main .post__content .mc-button.b-heart:active {
  background-color: #d55132;
}

.main .post__content .mc-button.b-text {
  color: #555;
  background-color: #d0d0d0;
}

.main .post__content .mc-button.b-text .iconfont {
  color: #555;
}

.main .post__content .mc-button.b-text:focus,
.main .post__content .mc-button.b-text:hover {
  color: #555;
  background-color: #efe8e8;
}

.main .post__content .mc-button.b-text.active,
.main .post__content .mc-button.b-text:active {
  background-color: #d0d0d0;
}

.main .post__content .mc-button.b-box {
  background-color: #dab572;
}

.main .post__content .mc-button.b-box:focus,
.main .post__content .mc-button.b-box:hover {
  color: #fff;
  background-color: #e4c895;
}

.main .post__content .mc-button.b-box.active,
.main .post__content .mc-button.b-box:active {
  background-color: #dab572;
}

.main .post__content .mc-button.b-search {
  background-color: #4167c1;
}

.main .post__content .mc-button.b-search:focus,
.main .post__content .mc-button.b-search:hover {
  color: #fff;
  background-color: #6581c3;
}

.main .post__content .mc-button.b-search.active,
.main .post__content .mc-button.b-search:active {
  background-color: #4167c1;
}

.main .post__content .mc-button.b-document {
  background-color: #4f5d73;
}

.main .post__content .mc-button.b-document:focus,
.main .post__content .mc-button.b-document:hover {
  color: #fff;
  background-color: #68717f;
}

.main .post__content .mc-button.b-document.active,
.main .post__content .mc-button.b-document:active {
  background-color: #4f5d73;
}

.main .post__content .mc-button.b-link {
  background-color: #3c9ae7;
}

.main .post__content .mc-button.b-link:focus,
.main .post__content .mc-button.b-link:hover {
  color: #fff;
  background-color: #5fa7e2;
}

.main .post__content .mc-button.b-link.active,
.main .post__content .mc-button.b-link:active {
  background-color: #3c9ae7;
}

.main .post__content .mc-button.b-next {
  background-color: #65727f;
}

.main .post__content .mc-button.b-next:focus,
.main .post__content .mc-button.b-next:hover {
  color: #fff;
  background-color: #747b82;
}

.main .post__content .mc-button.b-next.active,
.main .post__content .mc-button.b-next:active {
  background-color: #65727f;
}

.main .post__content .mc-button.b-audio {
  background-color: #3465a4;
}

.main .post__content .mc-button.b-audio:focus,
.main .post__content .mc-button.b-audio:hover {
  color: #fff;
  background-color: #6d86a7;
}

.main .post__content .mc-button.b-audio.active,
.main .post__content .mc-button.b-audio:active {
  background-color: #3465a4;
}

.main .post__content .mc-button.b-video {
  background-color: #c0392b;
}

.main .post__content .mc-button.b-video:focus,
.main .post__content .mc-button.b-video:hover {
  color: #fff;
  background-color: #bf564b;
}

.main .post__content .mc-button.b-video.active,
.main .post__content .mc-button.b-video:active {
  background-color: #c0392b;
}

.main .post__content .mc-toggle {
  position: relative;
  margin: 1.66667rem 0;
}

.main .post__content .mc-toggle .toggle-title {
  position: relative;
  padding: .66667rem 1.25rem;
  color: #666;
  background: #fff;
  border: .08333rem solid #e3e3e3;
  cursor: pointer;
  user-select: none;
}

.main .post__content .mc-toggle .toggle-title:before {
  position: absolute;
  content: "\002b";
  right: 1.25rem;
  top: 0;
  bottom: 0;
  font-size: 1.66667rem;
  height: 2.33333rem;
  line-height: 2.5rem;
  margin: auto;
}

.main .post__content .mc-toggle .toggle-content {
  height: 0;
  padding: 0 1.25rem;
  color: #fff;
  border: .08333rem solid #e3e3e3;
  border-top: 0;
  opacity: 0;
  visibility: hidden;
}

.main .post__content .mc-toggle.active .toggle-title {
  color: #333;
  background: #f6f5f5;
}

.main .post__content .mc-toggle.active .toggle-title:before {
  content: "\002d";
  font-size: 2.66667rem;
  line-height: 2rem;
}

.main .post__content .mc-toggle.active .toggle-content {
  height: auto;
  padding: .66667rem 1.25rem;
  color: #666;
  opacity: 1;
  visibility: visible;
}

.main .post__content .mc-tabs {
  position: relative;
  margin: 1.66667rem 0;
}

.main .post__content .mc-tabs .tabs-title {
  display: flex;
  align-items: center;
  padding-left: 0;
  margin-bottom: 0;
  overflow: hidden;
}

.main .post__content .mc-tabs .tabs-title li {
  list-style: none;
  padding: 0;
  margin-top: 0;
  margin-right: -1PX;
  border: 1PX solid #e3e3e3;
}

.main .post__content .mc-tabs .tabs-title li a {
  display: block;
  padding: 9px 18px;
  margin: 0;
  text-decoration: none;
  color: #777;
  background: #f6f5f5;
}

.main .post__content .mc-tabs .tabs-title li a:hover {
  background: #fff;
}

.main .post__content .mc-tabs .tabs-title li.active {
  border-bottom-color: #fff;
}

.main .post__content .mc-tabs .tabs-title li.active a {
  color: #333;
  background: #fff;
}

.main .post__content .mc-tabs .tabs-container {
  padding: 9px 18px;
  margin-top: -1PX;
  border: 1PX solid #e3e3e3;
}

.main .post__content .mc-tabs .tabs-content {
  display: none;
}

.main .post__content .mc-tabs .tabs-content.active {
  display: block;
}

.main .page-msg .post__content {
  text-align: center;
}

.main .post__tags {
  padding: 2rem 0 1rem;
}

.main .post__tags:empty {
  display: none;
}

.main .post__tags a {
  position: relative;
  z-index: 1;
  display: inline-block;
  height: 2.08333rem;
  line-height: 2.08333rem;
  padding: 0 9px 0 0.83333rem;
  margin: 0.41667rem 0.83333rem;
  font-size: 1rem;
  color: #999;
  background: #eee;
  border-radius: 0 0.25rem 0.25rem 0;
  box-sizing: border-box;
}

.main .post__tags a:before {
  position: absolute;
  z-index: -1;
  content: '';
  top: 0.33333rem;
  left: -0.75rem;
  width: 1.41667rem;
  height: 1.41667rem;
  background: #eee;
  border-radius: 0 0.25rem 0 0.25rem;
  transform: rotate(45deg);
}

.main .post__tags a:after {
  position: absolute;
  z-index: 1;
  content: '';
  top: 0;
  bottom: 0;
  left: -1PX;
  width: 0.33333rem;
  height: 0.33333rem;
  margin: auto;
  background: #fff;
  border-radius: 50%;
}

.main .post__tags a:hover {
  color: #fff;
  background: #009688;
}

.main .post__tags a:hover:before {
  background: #009688;
}

.main .post__more {
  display: flex;
  justify-content: center;
  margin-top: 3rem;
}

.main .post__more .next {
  padding: 4px 8px;
  color: #9bccd2;
  border-bottom: 3px solid transparent;
  transition: border .25s ease-in-out;
}
.main .post__more .next:hover {
  border-bottom-color: #9bccd2;
}

.main .post__more .loading {
  position: relative;
}

.main .post__more .loading span {
  display: inline-flex;
  width: 0.4rem;
  height: 2rem;
  margin: 0 0.2rem;
  background: #9bccd2;
  animation-fill-mode: both;
}

.main .post__more .loading:before {
  position: absolute;
  content: '><';
  color: #9bccd2;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  width: 100%;
  line-height: 2rem;
}

.main .post__more .loading span:first-child,
.main .post__more .loading span:nth-child(2) {
  animation: line-scale 1s .25s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

.main .post__more .loading span:nth-child(2) {
  width: 2rem;
  height: 0.4rem;
}

.main .post__more .loading span:nth-child(3) {
  animation: line-scale 1s .25s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
}

@keyframes line-scale {
  0% {
    transform: scaley(1);
  }
  50% {
    transform: scaley(0.3);
  }
  to {
    transform: scaley(1);
  }
}

.main .near {
  position: relative;
  top: -2rem;
  display: flex;
  padding: 0 20px;
}

@media screen and (max-width: 680px) {
  .main .near {
    padding: 0 1rem;
  }
}

.main .near a {
  text-decoration: underline;
}

.main .near__next,
.main .near__prev {
  flex: 1;
  color: #999;
}

.main .near__next {
  text-align: right;
}

.comments {
  padding: 2.5rem;
  background: #fff;
}

@media screen and (max-width: 680px) {
  .comments {
    padding: 1.5rem;
  }
}

.comments .comment-tip {
  text-align: center;
  color: #aaa;
}

.comments .comment-list {
  list-style: none;
}

.comments .comment {
  margin: 1rem 0;
}

.comments .comment-block {
  position: relative;
  padding-top: 1rem;
  border-top: 1PX solid #eee;
}

.comments .comment-block:first-child {
  border-top: 0;
}

.comments .comment-list .children .comment {
  padding-left: 5rem;
}

@media screen and (max-width: 640px) {
  .comments .comment-list .children .children .comment {
    padding-left: 0;
  }
}

.comments .comment-list .new__comment {
  background: transparent;
  animation: fade 0.8s ease-in-out 0s 3;
}

@keyframes fade {
  0% {
    background: transparent;
  }
  50% {
    background: #f5f5f5;
  }
  to {
    background: transparent;
  }
}

.comments .comment__vcard {
  display: flex;
  align-items: center;
}

.comments .comment__avatar {
  margin-right: 1.5rem;
}

.comments .comment__avatar img {
  display: block;
  width: 3.5rem;
  height: 3.5rem;
  background: #eee;
  border-radius: 3px;
}

.comments .comment__meta {
  display: flex;
  flex: 1;
  flex-direction: column;
}

.comments .comment__author {
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0.25rem;
  color: #888;
}

.comments .comment__author a {
  color: inherit;
}

.comments .comment__author a:hover {
  text-decoration: underline;
}

.comments .comment__author .identity,
.comments .comment__author .pending {
  font-size: 1.2rem;
  font-style: normal;
  font-weight: 300;
  padding: 0 0.25rem;
  margin-left: 1rem;
  color: #fff;
  background: #bbb;
  border-radius: 0.25rem;
}

.comments .comment__author .pending {
  background: #e2aeae;
}

.comments .comment__time {
  font-size: 1.2rem;
  color: #bfbfbf;
}

.comments .comment__content {
  padding: 1rem 0 1rem 5rem;
}

.comments .comment__content .face {
  display: inline-block;
  vertical-align: top;
  width: 22px;
  height: 22px;
  line-height: 22px;
  background-size: 22px 22px;
}

.comments .comment__reply {
  position: absolute;
  top: 1.4rem;
  right: 0;
  font-size: 1.2rem;
  color: #999;
}

.comments .form {
  position: relative;
  margin-bottom: 7rem;
}

.comments .form:after {
  position: absolute;
  content: '';
  left: 0;
  right: 0;
  bottom: -4.5rem;
  margin: auto;
  width: 55%;
  text-align: center;
  border-top: 2px dashed #cae0dd;
}

.comments .form__reply {
  padding-left: 5rem;
  margin: 2rem 0;
}

.comments .form__reply:after {
  display: none;
}
.comments .form__text {
  display: flex;
  align-items: stretch;
  position: relative;
  z-index: 2;
  margin-bottom: 1rem;
}

.comments .form__textarea {
  flex: 2;
  display: flex;
  align-items: stretch;
  height: 120px;
}

@media screen and (max-width: 680px) {
  .comments .form__textarea {
    height: 90px;
  }
}

.comments .form__textarea .textarea {
  width: 100%;
  border-right: 0;
  padding: 9px;
  border: 1PX solid #ccc;
  border-right: 0;
  box-sizing: border-box;
  transition: border 0.15s ease-in;
}

.comments .form__input .text::placeholder,
.comments .form__textarea .textarea::placeholder {
  color: #999;
}

.comments .form__face {
  position: absolute;
  z-index: 2;
  left: 0;
  bottom: 1PX;
}

.comments .form__face__hold {
  width: 33px;
  height: 33px;
  line-height: 33px;
  margin-left: 1PX;
  background: #fff url(../img/face.png) center no-repeat;
  background-size: 24px 24px;
  cursor: pointer;
  opacity: .7;
  transform: rotateZ(45deg);
  transition: opacity .25s, transform .25s;
  border-radius: 50%;
}
.comments .form__face__hold:hover,
.comments .form__face__hold:active {
  opacity: 1;
}

.comments .form__face__list {
  display: flex;
  flex-flow: row wrap;
  position: absolute;
  left: 0;
  top: 100%;
  width: 330px;
  margin-top: 1PX;
  opacity: 0;
  background: #fff;
  border: 1PX solid #ccc;
  border-top: 0;
  box-shadow: 2px 2px 3px 0 rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%) scale(0);
  transition: opacity .2s, transform .25s;
}

@media screen and (max-width: 680px) {
  .comments .form__face__list {
    width: 264px;
  }
}

.comments .form__face__list .face {
  width: 33px;
  height: 33px;
  line-height: 33px;
  background-size: 24px 24px;
  transition: background-color .3s;
  cursor: pointer;
}

.comments .form__face__list .face:hover,
.comments .form__face__list .face:active {
  background-color: rgba(0, 0, 0, .15);
}

.comments .form__face__active .form__face__hold  {
  opacity: 1;
  transform: rotateZ(0);
}

.comments .form__face__active .form__face__list  {
  opacity: 1;
  transform: translate(0, 0) scale(1);
}

.comments .form__error {
  position: absolute;
  z-index: 2;
  left: 1PX;
  bottom: 1PX;
  font-size: 1.2rem;
  height: 33px;
  line-height: 33px;
  padding: 0 12px;
  opacity: 1;
  background-color: transparent;
  box-sizing: border-box;
  transition: opacity .2s, color .25s, background-color .25s, transform .25s;
  transform: translate(-50%, 50%) scale(0);
}

.comments .form__error__show {
  opacity: 1;
  background-color: #eee;
  transform: translate(0, 0) scale(1);
}

.comments .__success {
  color: #3c763d;
  background-color: #dff0d8;
}

.comments .__warning {
  color: #a94442;
  background-color: #f2dede;
}

.comments .form__text .submit {
  color: #fff;
  padding: 0 2rem;
  background: #4a9c90;
  border: 0;
  transition: background 0.15s ease-in;
}

.comments .form__text .submit:focus,
.comments .form__text .submit:hover {
  background: #378e81;
}

.comments .form__text .submit:active {
  background: #3a7d74;
}

.comments .form__user {
  display: flex;
  margin: 1.5rem 0 1rem;
  opacity: 1;
  transition: transform 0.25s ease-in, margin 0.25s ease-in, opacity 0.25s ease-in;
  transform: translateY(0);
}

.comments .form__user__hide {
  height: auto;
  margin: 0 0 -3rem;
  opacity: 0;
  transform: translateY(-150%);
}

.comments .form__input {
  flex: 1;
}

.comments .form__input .text {
  width: 100%;
  padding: 0.5rem 0;
  border: 0;
  border-bottom: 2px solid #ccc;
  box-sizing: border-box;
  transition: border 0.15s ease-in;
}

.comments .form__clear {
  margin: 0 2rem;
}

.comments .form__input .text:focus,
.comments .form__text .textarea:focus {
  border-color: #378e81;
}



.comments .form__tip {
  font-size: 16px;
  text-align: right;
  color: #bbb;
}

.comments .form__tip a {
  text-decoration: underline;
}

@media screen and (max-width: 680px) {
  .comments .form__tip {
    font-size: 14px;
  }
}

.footer .container {
  position: relative;
}

.footer .footer__copyright {
  border-top: 1PX solid #ddd;
  padding: 1.5rem;
  font-size: 1.3rem;
  color: #bbb;
  text-align: center;
}

.footer .footer__copyright a {
  text-decoration: underline;
}

.footer .footer__beaker {
  display: flex;
  flex-direction: column-reverse;
  position: fixed;
  right: 2rem;
  bottom: 4.5rem;
  width: 2.5rem;
  height: 2.5rem;
  background: #ccc;
  cursor: pointer;
  overflow: hidden;
  border-radius: 50%;
  opacity: 0.8;
  border: 1PX solid #ccc;
  box-sizing: border-box;
  transform: translateY(7.5rem);
  transition: transform 0.25s ease-in-out;
}

.footer .footer__beaker span {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-image: url(../img/bg_beaker.png);
  background-repeat: repeat-x;
  background-position: 0 2.5rem;
  background-size: cover;
  animation: beaker 2s infinite linear;
}

.footer .footer__beaker__on {
  transform: translateY(0);
}

@keyframes beaker {
  0% {
    background-position-x: 0;
  }
  to {
    background-position-x: 4.8rem;
  }
}

.main .page__404 {
  text-align: center;
  padding: 8rem 0 5rem;
  margin: 4rem 0 0;
  background: #fff;
}

.main .page__404 .not__title {
  font-size: 8rem;
  margin-bottom: 5rem;
  color: #666;
}

.main .page__404 .not__content {
  margin-bottom: 6rem;
  color: #aaa;
}

.main .page__search {
  display: flex;
  align-items: stretch;
  padding: 10rem 5rem;
  margin: 4rem 0 0;
  background: #fff;
}

.main .page__search .text {
  flex: 1;
  padding-right: 9px;
  border: 0;
  border-bottom: 2px solid #429083;
}

.main .page__search .text::placeholder {
  color: #999;
}

.main .page__search .submit {
  padding: 9px 3rem;
  color: #fff;
  background: #429083;
  border: 0;
  transition: background .25s;
}

.main .page__search .submit:hover {
  background: #2da591;
}

.main .page__search .submit:active {
  background: #316f65;
}
